*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color:#9d5fee;
}


header{
    display:flex;
    justify-content:space-between;
    background-color:#562499;
}


header > a > img{
    width:230px;
    margin-left:35px;
    padding:10px 0px;
    filter:invert(1);
}

nav{
    font-family: 'Inter', sans-serif;
    font-size:35px;
    margin: auto 30px;
}



nav > a{
    margin: 0px 20px;
    color:white;
    font-weight: bold;
    text-decoration: none;
    position:relative;
}

nav > a::before{
    position:absolute;
    content:"";
    background-color:white;
    height:4px;
    width:0%;
    bottom:0;
    transition-property:width;
    transition-duration:250ms;
}

nav > a:hover::before{
    width:100%;
}



.hamburger{
    display:none;
    cursor:pointer;
    margin:auto 30px;
}

.bar{
    display:block;
    width:50px;
    height:6px;
    margin:12px auto;
    -webkit-transition: all 0,3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:white;
    border-radius:10px;

}







main{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:85%;
    margin:30px auto;
}



main > article{
    width:90%;
    margin-left:40px;
}

main > article > h1{
    color:white;
    font-size:45px;
    font-family: 'Inter', sans-serif;
    margin: 20px 0px;
}

main > article > p{
    color:white;
    font-family: 'Inter', sans-serif;
    line-height:2.2;
    font-size:18px;
}


main > img{
    margin-top:35px;
    width:70%;
    box-shadow: 0 10px 10px 0 #2b114c;
}

#gradient{
    width:100%;
    height:125px;
    background: linear-gradient(#9d5fee, #4F1B94);
}

#gradient > h2{
    text-align:center;
    font-family: 'Inter', sans-serif;
    color:white;
    font-size:35px;
}

.siste{
    background-color:#4F1B94;
    height:100%;
    width:100%;
}

.navbox{
    display:flex;
    justify-content: space-evenly;
}


.box{
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin:20px 20px;
    border: solid 3px #9d5fee;
    border-radius:25px;
    background-color:#a86bf7;
    transition:ease-in 0.3s;
    color:white;
    font-size:13px;
    line-height:2;
    font-family: 'Inter', sans-serif;
    cursor:pointer;
}



.box:hover{
    background-color:#c298f9;
}

.box > img {
    width:250px;
    height:250px;
    margin:0px 10px;
    
}


.box > #digaudio{
    margin-right:20px;
}

.info{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:50%
}

.navbox > a{
    text-decoration:none;
    width:45%;
    height:100%;
    padding-bottom:50px;
    padding-top:20px;
}



@media(max-width:1500px){
    main > article > h1{
        font-size:35px;
    }
}

@media(max-width:1280px){
    main > article > h1{
        font-size:40px;
    }

    .navbox > a{
        width:70%;
        padding-bottom:40px;
        padding-top:15px;
    }


    .navbox{
        flex-direction:column;
        align-items:center;
        justify-content: center;;
    }


    .box{
        font-size:16px;
        margin:0px 20px;
    }

    .box > img {
        width:250px;
        height:250px;

        
    }

    .box > .info{
        width:60%;
    }

    main{
        flex-direction:column-reverse;
    }

    main > img{
        width:80%;
    }


    main > article{
        width:80%;
        margin:0px;
    }

    main > article >h1{
        text-align: center;
    }

}

@media(max-width:820px){

    main{
        width:100%
    }

    .navbox > a{
        width:65%;
    }

    .box{
        flex-direction:column-reverse;
    }

    .box > .info{
        width:90%; 
        text-align:center;
        padding:10px;
    }

    .box > img{
        height:fit-content;
        width:90%;
    }


}

@media(max-width:768px){
    .hamburger{
        display:block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }

    .hamburger.active .bar:nth-child(1){
        transform:translateY(18px) rotate(45deg);
    }

    
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-18px) rotate(-45deg);
    }

    nav{
        display:flex;
        position:absolute;
        left:-100%;
        top:100px;
        gap:0;
        flex-direction:column;
        background-color:#562499;
        width:100%;
        text-align: center;
        transition:0.2s;
        margin:0;
    }

    nav > a {
        margin:0px;
        border-top: solid;
        border-width:2px;
        border-color:white;
        padding-top:30px;
        padding-bottom:30px;
    }

    nav.active{
        left:0;
    }

    nav a:nth-child(3){
        border-bottom: solid;
        border-width:2px;
        border-color:white;
        padding-bottom:30px;
        margin:0;
    }

    nav > a::before{
        height:0;
    }
}


@media(max-width:650px){

    .navbox > a{
        width:100%;
    }

    .navbox > a:nth-child(1){
        margin-top:30px;
    }

    

    .box > .info{
        width:100%;
    }

    .box > img{
        width:100%;
        height: fit-content;
    }

    .box > #digaudio {
        width:95%;
    }

}
